<p class="ekoodi-user-list-title">
  {{title}}
</p>

<mat-list>

  <ekoodi-user-info *ngFor="let user of users"
                    [user]="user">
  </ekoodi-user-info>

</mat-list>

<p class="ekoodi-user-list-subTitle">
  {{subTitle}}
</p>

<mat-list>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="First name" value="" [(ngModel)]="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last name" value="" [(ngModel)]="lastName">
  </mat-form-field>


  <button mat-raised-button (click)="addUser()">Add</button>

</mat-list>
